.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

fieldset {
  padding-bottom: 2em !important;
  border: 2px groove !important;
  width: 96%;
}

.btn-group-page-nav button.active {
    display: block;
    background-color: #eadcdc;
 }
 
 .btn-group-page-nav .btn:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.btn-group-page-nav .btn {
    background-color: #eae9e9;
    border-radius: 5px;
    cursor: pointer;
}

.card-login{
  max-height: 23rem;
}

.ant-layout-content {
  padding: 1em 2em 0em 2em;
}

.ant-table-wrapper {
  padding-top: 1.5em;
}

.ant-table-pagination.ant-pagination {
  float: none;
  text-align: center;
}

.ant-modal-wrap .ant-modal {
  width: 70% !important;
  padding-left: 4em;
}

.show-modal-delete {
  padding: 0em 12em 0em 17em !important;
}

.ant-spin-dot {
  top: 4em;
  left: 17em;
}
